/* ===== CSS Reset ===== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ===== Shared ===== */

* {
    /* outline: 1px solid violet; */
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #d0d6f9;
    --tertiary-color: #0b0d17;
}

.navbar {
    margin: 24px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 40px;
    height: 40px;
}

.menu {
    display: flex;
    align-items: center;
    border: none;
    background: none;
}

main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

h1 {
    margin-top: 16px;
    font-family: 'Bellefair', serif;
    font-size: 80px;
    line-height: 100px;
    color: var(--primary-color);
    text-align: center;
    text-transform: uppercase;
}

h2 {
    margin-top: 20px;
    font-family: 'Bellefair', serif;
    font-size: 56px;
    color: var(--primary-color);
    text-transform: uppercase;
}

h3 {

}

h4 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 2.7px;
    color: var(--secondary-color);
    text-align: center;
    text-transform: uppercase;
}

h5 {
    font-family: 'Bellefair', serif;
    font-size: 28px;
    color: var(--primary-color);
    text-transform: uppercase;
    text-align: center;
}

h6 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    letter-spacing: 2.36px;
    color: var(--secondary-color);
    text-transform: uppercase;
    text-align: center;
}

p {
    margin-top: 16px;
    max-width: 327px;
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: var(--secondary-color);
    text-align: center;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;5
    color: #ffffff;
    text-decoration: none;
}

.number-header {
    margin-right: 18px;
    opacity: 25%;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
}

hr {
    width: 86.67%;
    border-color: #383b4b;
}

/* ===== Home ===== */

.background-home {
    background: url("./home/background-home-mobile.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

.h4-home {
    margin-top: 24px;
}

.explore-container {
    display: flex;
    justify-content: center;
}

.explore-button {
    margin: 81px 0 48px 0;
    width: 150px;
    height: 150px;
    font-family: 'Bellefair', serif;
    font-size: 20px;
    letter-spacing: 1.25px;
    color: var(--tertiary-color);
    text-transform: uppercase;
    border: none;
    border-radius: 50%;
    background-color: var(--primary-color);
}

/* ===== Destination ===== */

.background-destination {
    background: url("./destination/background-destination-mobile.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

.image-moon {
    width: 170px;
    height: 170px;
    margin: 32px 0 26px 0;
}

.destination-navbar-container {
    width: 237.5px;
    height: 28px;
}

.destination-navbar {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.destination-navbar-active {
    color: var(--primary-color);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
}

.destination-navbar-inactive {
    color: var(--secondary-color);
}

.destination-p {
    margin: 1px 0 32px 0;
}

.destination-details {
    margin-top: 32px;
}

.destination-details:last-child {
    margin-bottom: 58px;
}

.value {
    margin-top: 12px;
}

/* ===== Crew ===== */
/* ===== Technology ===== */